<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title">Image Preview and Upload Demo</h1>
      <div class="divider"></div>
      <form [formGroup]="myForm" (ngSubmit)="Submit()">
        <button
          class="button is-light mb-3"
          type="button"
          (click)="fileControl.click()"
        >
          Upload Image (jpeg or png)
        </button>
        <input type="file" #fileControl (change)="onImageSelected($event)" />
        <figure class="image is-128x128">
          <img [src]="imagePreview" />
        </figure>
        <div
          class="notification is-danger is-light mt-3 mb-3"
          *ngIf="myForm.invalid"
        >
          <button class="delete"></button>
          File should be either jpeg or png
        </div>
        <button class="button is-primary mt-3" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
